<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://42.62.77.23:8080/didimaijiaju/data/version/clerk_ios.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://cloud.githubusercontent.com/assets/14340694/9950829/80f14e4a-5df1-11e5-91f2-a076f130f6cc.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nd.markerPlace</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Apple</string>
				<key>title</key>
				<string>99jiajuMarket</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
